src/tts_seq/test/test_files/inputs/dictionaries/schemas/ParameterDictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="name-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z0-9_\-]{1,64}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fsw-name-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-z0-9_]{1,32}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="fsw-name-64-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-z0-9_]{1,64}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sys-name-32-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z0-9_]{1,32}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sys-name-64-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z0-9_]{1,64}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sys-name-128-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z0-9_]{1,128}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="name-128-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z0-9_\-]{1,128}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="name-16-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Za-z0-9_\-]{1,16}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="symbol-def">
    <xs:restriction base="xs:token">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="symbol-def-32">
    <xs:restriction base="xs:token">
      <xs:maxLength value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="signed-64-pos-def">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <xs:simpleType name="unsigned-32-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="4294967295"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unsigned-16-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="65535"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unsigned-16-pos-def">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="65535"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unsigned-8-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unsigned-8-pos-def">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="255"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="offset-64-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="63"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string-400-def">
    <xs:restriction base="xs:normalizedString">
      <xs:maxLength value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string-512-def">
    <xs:restriction base="xs:normalizedString">
      <xs:maxLength value="512"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="non-empty-token-def">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="token-64-def">
    <xs:restriction base="xs:token">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="c-format-string-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[^%]*%{0,1}[^%]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="string-type-def">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="fixed_length"/>
          <xs:enumeration value="length_prefixed"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="header">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="spacecraft_ids"/>
      </xs:sequence>
      <xs:attribute name="mission_name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ProjectXYZ"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="version" use="required" type="xs:token"/>
      <xs:attribute name="schema_version" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="spacecraft_ids">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="spacecraft_id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="spacecraft_id">
    <xs:complexType>
      <xs:attribute name="value" use="required" type="xs:nonNegativeInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum">
    <xs:complexType>
      <xs:attribute name="symbol" use="required" type="sys-name-64-def"/>
      <xs:attribute name="numeric" use="required" type="xs:int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum_table">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="values"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="name-def"/>
      <xs:attribute name="export">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="values">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="enum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameterized_algorithm">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="algorithm-parameter-def"/>
      <xs:attribute name="name" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="algorithm-parameter-def">
    <xs:sequence>
      <xs:element name="parameter">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" use="required" type="name-def"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="categories-def">
    <xs:sequence>
      <xs:element ref="categories"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="module" type="mission-module-def"/>
        <xs:element ref="ops_category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ops_category" type="mission-ops-category-def"/>
  <xs:simpleType name="system-mode-def">
    <xs:restriction base="xs:token">
      <xs:enumeration value="TEST"/>
      <xs:enumeration value="PRE-LAUNCH"/>
      <xs:enumeration value="LAUNCH"/>
      <xs:enumeration value="CRUISE"/>
      <xs:enumeration value="EDL APPROACH"/>
      <xs:enumeration value="EDL MAIN"/>
      <xs:enumeration value="SURFACE NOMINAL"/>
      <xs:enumeration value="SURFACE STANDBY"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mission-module-def">
    <xs:restriction base="xs:token">
      <xs:enumeration value="aclk_mgr"/>
      <xs:enumeration value="acm_svc"/>
      <xs:enumeration value="acs_ctl"/>
      <xs:enumeration value="adc_svc"/>
      <xs:enumeration value="adl_svc"/>
      <xs:enumeration value="aman_ctl"/>
      <xs:enumeration value="ant_mgr"/>
      <xs:enumeration value="app_exe"/>
      <xs:enumeration value="app_svc"/>
      <xs:enumeration value="arm_ctl"/>
      <xs:enumeration value="asia_drv"/>
      <xs:enumeration value="asiadis_drv"/>
      <xs:enumeration value="asiadis_mgr"/>
      <xs:enumeration value="atif_drv"/>
      <xs:enumeration value="atifdis_drv"/>
      <xs:enumeration value="atifdis_mgr"/>
      <xs:enumeration value="bc_drv"/>
      <xs:enumeration value="bc_mgr"/>
      <xs:enumeration value="cbm_ctl"/>
      <xs:enumeration value="cfdp_svc"/>
      <xs:enumeration value="cic_drv"/>
      <xs:enumeration value="cmd_svc"/>
      <xs:enumeration value="cmod_svc"/>
      <xs:enumeration value="coll_svc"/>
      <xs:enumeration value="comm_mgr"/>
      <xs:enumeration value="comp_svc"/>
      <xs:enumeration value="cpu_drv"/>
      <xs:enumeration value="crc_drv"/>
      <xs:enumeration value="crc_mgr"/>
      <xs:enumeration value="cstr_mgr"/>
      <xs:enumeration value="data_app"/>
      <xs:enumeration value="dimu_drv"/>
      <xs:enumeration value="dimu_mgr"/>
      <xs:enumeration value="dm_mgr"/>
      <xs:enumeration value="dma_drv"/>
      <xs:enumeration value="dpc_svc"/>
      <xs:enumeration value="dpm_svc"/>
      <xs:enumeration value="dpt_svc"/>
      <xs:enumeration value="dsa_mgr"/>
      <xs:enumeration value="dwn_app"/>
      <xs:enumeration value="dwn_drv"/>
      <xs:enumeration value="dwn_mgr"/>
      <xs:enumeration value="ecam_mgr"/>
      <xs:enumeration value="edl_ctl"/>
      <xs:enumeration value="edlbg_svc"/>
      <xs:enumeration value="edlcam_mgr"/>
      <xs:enumeration value="edlcomm_svc"/>
      <xs:enumeration value="edlgnc"/>
      <xs:enumeration value="eha_svc"/>
      <xs:enumeration value="enet_drv"/>
      <xs:enumeration value="evr_svc"/>
      <xs:enumeration value="file_svc"/>
      <xs:enumeration value="fpm_svc"/>
      <xs:enumeration value="frame_mgr"/>
      <xs:enumeration value="fv_svc"/>
      <xs:enumeration value="gate_svc"/>
      <xs:enumeration value="gid_mgr"/>
      <xs:enumeration value="grip_ctl"/>
      <xs:enumeration value="health_svc"/>
      <xs:enumeration value="helo_mgr"/>
      <xs:enumeration value="hsm_svc"/>
      <xs:enumeration value="hst_svc"/>
      <xs:enumeration value="hsuart_drv"/>
      <xs:enumeration value="iccitc_drv"/>
      <xs:enumeration value="imf_svc"/>
      <xs:enumeration value="iml_svc"/>
      <xs:enumeration value="ivp_svc"/>
      <xs:enumeration value="kd_svc"/>
      <xs:enumeration value="lander_exe"/>
      <xs:enumeration value="lap_svc"/>
      <xs:enumeration value="launch_ctl"/>
      <xs:enumeration value="lic_drv"/>
      <xs:enumeration value="lmc_mgr"/>
      <xs:enumeration value="lvs_mgr"/>
      <xs:enumeration value="mat3_svc"/>
      <xs:enumeration value="mathf_svc"/>
      <xs:enumeration value="matrix_svc"/>
      <xs:enumeration value="mav_mgr"/>
      <xs:enumeration value="mc_mgr"/>
      <xs:enumeration value="mech_mgr"/>
      <xs:enumeration value="mem_svc"/>
      <xs:enumeration value="mot_svc"/>
      <xs:enumeration value="msg_svc"/>
      <xs:enumeration value="nand_mgr"/>
      <xs:enumeration value="nor_mgr"/>
      <xs:enumeration value="nvds_svc"/>
      <xs:enumeration value="nvfs_svc"/>
      <xs:enumeration value="nvm_drv"/>
      <xs:enumeration value="osal_svc"/>
      <xs:enumeration value="param_svc"/>
      <xs:enumeration value="plat_mgr"/>
      <xs:enumeration value="pwr_mgr"/>
      <xs:enumeration value="pyro_mgr"/>
      <xs:enumeration value="rac_ctl"/>
      <xs:enumeration value="ramfs_svc"/>
      <xs:enumeration value="rdo_mgr"/>
      <xs:enumeration value="rec_svc"/>
      <xs:enumeration value="reu_mgr"/>
      <xs:enumeration value="rm_ctl"/>
      <xs:enumeration value="rt_drv"/>
      <xs:enumeration value="rt_mgr"/>
      <xs:enumeration value="rt_svc"/>
      <xs:enumeration value="rts_svc"/>
      <xs:enumeration value="sarb_svc"/>
      <xs:enumeration value="sbs_svc"/>
      <xs:enumeration value="sfp_exe"/>
      <xs:enumeration value="sc_app"/>
      <xs:enumeration value="scfg_svc"/>
      <xs:enumeration value="scu_ctl"/>
      <xs:enumeration value="scu_mgr"/>
      <xs:enumeration value="seq_svc"/>
      <xs:enumeration value="sfp_exe"/>
      <xs:enumeration value="shell_app"/>
      <xs:enumeration value="shell_ctl"/>
      <xs:enumeration value="shell_svc"/>
      <xs:enumeration value="smm_exe"/>
      <xs:enumeration value="spw_drv"/>
      <xs:enumeration value="sr_svc"/>
      <xs:enumeration value="ssa_mgr"/>
      <xs:enumeration value="sspa_mgr"/>
      <xs:enumeration value="stacam_mgr"/>
      <xs:enumeration value="starid_svc"/>
      <xs:enumeration value="surf_app"/>
      <xs:enumeration value="sys_app"/>
      <xs:enumeration value="thrm_mgr"/>
      <xs:enumeration value="thruster_mgr"/>
      <xs:enumeration value="time_svc"/>
      <xs:enumeration value="twta_mgr"/>
      <xs:enumeration value="types_svc"/>
      <xs:enumeration value="uart_drv"/>
      <xs:enumeration value="upl_app"/>
      <xs:enumeration value="upl_drv"/>
      <xs:enumeration value="upl_mgr"/>
      <xs:enumeration value="ust_mgr"/>
      <xs:enumeration value="utils_svc"/>
      <xs:enumeration value="vce_mgr"/>
      <xs:enumeration value="vis_ctl"/>
      <xs:enumeration value="vislib_svc"/>
      <xs:enumeration value="zfit_app"/>
      <xs:enumeration value="zfit_uth"/>
      <xs:enumeration value="zfit_worker"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mission-ops-category-def">
    <xs:restriction base="xs:token">
      <xs:enumeration value="ACM"/>
      <xs:enumeration value="ACS"/>
      <xs:enumeration value="AVS"/>
      <xs:enumeration value="BCTL"/>
      <xs:enumeration value="CBM"/>
      <xs:enumeration value="CMD"/>
      <xs:enumeration value="CTB"/>
      <xs:enumeration value="DDM"/>
      <xs:enumeration value="DMX"/>
      <xs:enumeration value="DWN"/>
      <xs:enumeration value="EDL"/>
      <xs:enumeration value="FSW"/>
      <xs:enumeration value="HDW"/>
      <xs:enumeration value="IMG"/>
      <xs:enumeration value="LMC"/>
      <xs:enumeration value="LPCE"/>
      <xs:enumeration value="MDLI"/>
      <xs:enumeration value="MLS"/>
      <xs:enumeration value="PRM"/>
      <xs:enumeration value="PWR"/>
      <xs:enumeration value="PYRO"/>
      <xs:enumeration value="REU"/>
      <xs:enumeration value="RSB"/>
      <xs:enumeration value="SAM"/>
      <xs:enumeration value="SAPP"/>
      <xs:enumeration value="SDEP"/>
      <xs:enumeration value="SEQ"/>
      <xs:enumeration value="SFP"/>
      <xs:enumeration value="SMC"/>
      <xs:enumeration value="SPW"/>
      <xs:enumeration value="SRH"/>
      <xs:enumeration value="STS"/>
      <xs:enumeration value="TEL"/>
      <xs:enumeration value="THRM"/>
      <xs:enumeration value="TIME"/>
      <xs:enumeration value="UPL"/>
      <xs:enumeration value="VCE"/>
      <xs:enumeration value="WAKE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="mission_phase">
    <xs:restriction base="xs:token">
      <xs:enumeration value="LAUNCH"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="channel-id-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z]{1}[A-Z0-9]{0,3}-[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hex-only-int">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9A-F]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hex-only-int-16">
    <xs:restriction base="xs:token">
      <xs:pattern value="0[x][0-9A-F]+"/>
      <xs:length value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hex-only-int-32">
    <xs:restriction base="xs:token">
      <xs:pattern value="0[x][0-9A-F]+"/>
      <xs:length value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="hex-int">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]+|0x[0-9A-F]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="apid-range-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxExclusive value="2047"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stem-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z][A-Z0-9_]{1,32}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="icmd-stem-def">
    <xs:restriction base="xs:token">
      <xs:pattern value="[A-Z][A-Z0-9_]{1,64}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="poly-index-range-def">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="viewer">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table_lookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="point"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="point">
    <xs:complexType>
      <xs:attribute name="raw" use="required" type="xs:float"/>
      <xs:attribute name="eng" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="polynomial_expansion">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="factor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="factor">
    <xs:complexType>
      <xs:attribute name="index" use="required" type="poly-index-range-def"/>
      <xs:attribute name="coeff" use="required" type="xs:float"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="module-id-value">
    <xs:restriction base="xs:positiveInteger">
      <xs:maxInclusive value="32767"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="group-id-value">
    <xs:restriction base="unsigned-16-def"/>
  </xs:simpleType>
  <xs:simpleType name="copy-id-value">
    <xs:restriction base="unsigned-16-def"/>
  </xs:simpleType>
  <xs:simpleType name="param-id-value">
    <xs:restriction base="unsigned-16-def"/>
  </xs:simpleType>
  <xs:simpleType name="group-version-value">
    <xs:restriction base="unsigned-16-pos-def"/>
  </xs:simpleType>
  <xs:simpleType name="string-length-value">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="param-range-value">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="param-data-types">
    <xs:restriction base="xs:token">
      <xs:enumeration value="U8"/>
      <xs:enumeration value="U16"/>
      <xs:enumeration value="U32"/>
      <xs:enumeration value="I8"/>
      <xs:enumeration value="I16"/>
      <xs:enumeration value="I32"/>
      <xs:enumeration value="F32"/>
      <xs:enumeration value="F64"/>
      <xs:enumeration value="ENUM"/>
      <xs:enumeration value="STRING"/>
      <xs:enumeration value="BOOL"/>
      <xs:enumeration value="BITMASK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ParameterDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element minOccurs="0" ref="enum_definitions"/>
        <xs:element minOccurs="0" ref="bitmask_mappings"/>
        <xs:element maxOccurs="unbounded" ref="module"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="enum_definitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="enum_table"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitmask_mappings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="bitmask_mapping"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitmask_mapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="bitmask"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="fsw-name-64-def"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bitmask">
    <xs:complexType>
      <xs:attribute name="value" use="required" type="hex-only-int-32"/>
      <xs:attribute name="name" use="required" type="sys-name-64-def"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="module">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="group"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="mission-module-def"/>
      <xs:attribute name="ops_category" use="required" type="mission-ops-category-def"/>
      <xs:attribute name="id" use="required" type="module-id-value"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="copy"/>
      </xs:sequence>
      <xs:attribute name="group_id" use="required" type="group-id-value"/>
      <xs:attribute name="group_name" use="required" type="sys-name-32-def"/>
      <xs:attribute name="is_atomic" use="required" type="xs:boolean"/>
      <xs:attribute name="group_description" use="required" type="xs:string"/>
      <xs:attribute name="version" use="required" type="group-version-value"/>
      <xs:attribute name="custom_validation_required" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="custom_validation_description" type="xs:string"/>
      <xs:attribute name="set_action" use="required" type="xs:boolean"/>
      <xs:attribute name="set_action_description" type="xs:string"/>
      <xs:attribute name="count_value" use="required" type="xs:positiveInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="copy">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="parameter-def"/>
      <xs:attribute name="copy_id" use="required" type="copy-id-value"/>
      <xs:attribute name="copy_name" use="required" type="sys-name-32-def"/>
      <xs:attribute name="copy_description" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="parameter-def">
    <xs:sequence>
      <xs:element name="parameter">
        <xs:complexType>
          <xs:attribute name="param_uuid" use="required" type="signed-64-pos-def"/>
          <xs:attribute name="param_unique_name" use="required" type="sys-name-128-def"/>
          <xs:attribute name="local_param_id" use="required" type="param-id-value"/>
          <xs:attribute name="param_name" use="required" type="sys-name-64-def"/>
          <xs:attribute name="param_type" use="required" type="param-data-types"/>
          <xs:attribute name="param_description" use="required" type="xs:string"/>
          <xs:attribute name="units" use="required" type="xs:string"/>
          <xs:attribute name="default_value" use="required" type="param-range-value"/>
          <xs:attribute name="default_rationale" use="required" type="xs:string"/>
          <xs:attribute name="max" type="param-range-value"/>
          <xs:attribute name="min" type="param-range-value"/>
          <xs:attribute name="max_length" type="string-length-value"/>
          <xs:attribute name="enum_typedef" type="name-def"/>
          <xs:attribute name="bitmask_mapping" type="fsw-name-64-def"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="FlattenedParameterDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header"/>
        <xs:element minOccurs="0" ref="enum_definitions"/>
        <xs:element minOccurs="0" ref="bitmask_mappings"/>
        <xs:element maxOccurs="unbounded" ref="param"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="categories-def">
          <xs:attribute name="param_uuid" use="required" type="signed-64-pos-def">
            <xs:annotation>
              <xs:documentation>Merged Content</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="param_unique_name" use="required" type="sys-name-128-def"/>
          <xs:attribute name="local_param_id" use="required" type="param-id-value">
            <xs:annotation>
              <xs:documentation>Parameter Content</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="param_name" use="required" type="sys-name-64-def"/>
          <xs:attribute name="param_type" use="required" type="param-data-types"/>
          <xs:attribute name="param_description" use="required" type="xs:string"/>
          <xs:attribute name="units" use="required" type="xs:string"/>
          <xs:attribute name="default_value" use="required" type="param-range-value"/>
          <xs:attribute name="default_rationale" use="required" type="xs:string"/>
          <xs:attribute name="max" type="param-range-value"/>
          <xs:attribute name="min" type="param-range-value"/>
          <xs:attribute name="max_length" type="string-length-value"/>
          <xs:attribute name="enum_typedef" type="name-def"/>
          <xs:attribute name="bitmask_mapping" type="fsw-name-64-def"/>
          <xs:attribute name="copy_id" use="required" type="copy-id-value">
            <xs:annotation>
              <xs:documentation> Copy Contents</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="copy_name" use="required" type="sys-name-32-def"/>
          <xs:attribute name="copy_description" type="xs:string"/>
          <xs:attribute name="group_id" use="required" type="group-id-value">
            <xs:annotation>
              <xs:documentation> Group Contents</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute name="group_name" use="required" type="sys-name-32-def"/>
          <xs:attribute name="group_description" use="required" type="xs:string"/>
          <xs:attribute name="is_atomic" use="required" type="xs:boolean"/>
          <xs:attribute name="version" use="required" type="group-version-value"/>
          <xs:attribute name="custom_validation_required" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="Yes"/>
                <xs:enumeration value="No"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="custom_validation_description" type="xs:string"/>
          <xs:attribute name="set_action" use="required" type="xs:boolean"/>
          <xs:attribute name="set_action_description" type="xs:string"/>
          <xs:attribute name="count_value" use="required" type="xs:positiveInteger"/>
          <xs:attribute name="module_id" use="required" type="module-id-value">
            <xs:annotation>
              <xs:documentation> Module Contents</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
